*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: 5px 5px;
}

.header{
    display: flex;
    background-color: rgb(187, 187, 187);
    padding: 5px 10px;
}
.header h1{
    width: 100%;
}
.header button{
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 26px;
    cursor: pointer;
}

.listContainer{

}

.show{
    display: block;
}

.hide{
    display: none;
}