*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.wholeContainer {
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min(600px,60vw);
}